name: Android CI

on: [push]

env:
  KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
  KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
  KEY_ALIAS: ${{ secrets.KEY_ALIAS }}


jobs:

  cache_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Cache gradle modules
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew build

  debug_apk:
    needs: cache_build
    name: Generate Debug APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Cache gradle modules
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build Debug APK
        run: bash ./gradlew assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v1
        with:
          name: debug_apk
          path: app/build/outputs/apk/debug

  signed_apk:
    needs: cache_build
    name: Generate Signed APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Cache gradle modules
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build Release APK
        run: bash ./gradlew assembleRelease --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v1
        with:
          name: release_apk
          path: app/build/outputs/apk/release

  signed_bundle:
    needs: cache_build
    name: Generate Signed Bundle
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Cache gradle modules
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-


      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build Release Bundle
        run: bash ./gradlew bundleRelease --stacktrace

      - name: Upload Bundle
        uses: actions/upload-artifact@v1
        with:
          name: release_bundle
          path: app/build/outputs/bundle/release

